<mat-nav-list style="text-align: center;justify-content: center;">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/gridlist">Grid List</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/datepicker">Datepicker</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/stepper">Stepper</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/dialog">Dialog</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/snackbar">SnackBar</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/tabs">Tabs</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/menu">Menu </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout/expansion">Expansion-Panel</a>
</mat-nav-list>
