:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  mat-drawer {
    width: 220px;
  }
  
  mat-drawer-container {
    height: 100%;
  }

  mat-drawer-content {
    padding: 20px;


  }

  /* content { 
    padding: 20px;
     width: 100%; 
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  } */